body {
  background-color: #ffffff;
}


h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18vw;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 3.5vw;
  text-align: right;
  margin-right: 12vw;
  margin-top: -30px;
  color: #000000;

}

h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2em;
  text-align: left;
  color: red;
  margin-top: 100px;

}


h5 {
  font-family: 'Open Sans', serif;
  font-weight: 800;
  font-size: 1.2em;
  text-align: left;
  color: #000000;
  margin-bottom: 0;
}

p {
  font-family: 'Open Sans', serif;
  font-weight: 800;
  font-size: 1.2em;
  text-align: left;
  color: red;
  line-height: 1.2;

}

.fullcontainer {
  height: 100vh;
  background-color: red;

}

button {
  font-family: 'Open Sans', serif;
  font-weight: 800;
  font-size: 1em;
  padding: 7px;
  color: #000000;
  text-align: center;
  border: 3px solid #000000;
}
