body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400 500 700;
  position: relative;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  margin:0;
  line-height:138%;
}

h3 {
  font-size: 25px;
  font-weight: 400;
  margin:0;
  line-height:138%;
}

.back {
  padding:2rem 0 0 2rem;
}

.ausgangslage-title {
  padding:15rem 0 5rem 0;
}

.ausgangslage-bild1 {
  padding: 0 5rem 0rem 0;
}

.ausgangslage-text2 {
  padding: 8rem 0 0 0;
}

.funktionskleidung {
  padding: 5rem 0 1.5rem 0 ;
  margin: 0 auto;
}

.sportkleidung {
  padding: 0 0 0 1rem;
}

.wohlfuehlkleidung {
  padding: 0 0 0 5rem;
}

.alltagskleidung {
  padding: 0 0 0 9rem;
}

.muster-text {
  padding: 0 0 0 4rem;
}

.szenario2 {
  padding:5rem 0 0 0;
}
