/* Google Fonts */

* {
/*font-family: 'Rammetto One', cursive;*/
font-family: 'Mukta Mahee', sans-serif;
}

#intro {
    background-image: url(../img/bg-intro.png);
    background-color: #0a0a0a;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 0px 0px 200px 0px;
}

body {
    border: 15px #0000FF solid;
    overflow-x: hidden;
}

img {
    width: 100%;
}

.spacer-lead {
    padding: 200px 0px 0px 0px;
}

.spacer {
    margin: 400px 0 400px 0;
}

p {
    font-weight: 400;
    font-size: 1.5rem;
    color: #000;
}

h1 {
    font-family: 'Rammetto One', cursive;
    color: #0000FF;
    font-size: 8rem;
    line-height: 120%;
    margin-top: 100px;
    letter-spacing: -3px;
}

h2 {
    font-weight: 800;
    font-size: 1.75rem;
    color: #FFF;
    margin: 80px 0px 30px 0px;
}

h3 {
    color: #FFF;;
    font-weight: 400;
    font-size:  1.15rem;
    line-height: 125%;
    letter-spacing: 1px;
}

.line {
    margin-bottom: 25px;
}

.line:after {
    display: table-cell;
    content: "";
    border-bottom: 3px solid #FFF;
    padding-bottom: 20px;
    width: 40px;
}